@model AplicacionMVCconRazor.Models.Persona

@{
    ViewBag.Title = "Modificar Persona";
}

<h2>Modificar Persona</h2>

@using (Html.BeginForm())
{
    <label>Nombre</label>
    @Html.TextBoxFor(p => p.Nombre)
    <label>Apellido</label>
    @Html.TextBoxFor(p => p.Apellido)

    <input type="submit" value="Modificar"/>
}
